@charset "UTF-8";
.textblue{
	font-size: 30px;
	color:#164DA0;
}
.textmediumgrayblack{
	color:#9AA39E;
}
.textgrayblack{
	color:#C6B8B7;
}
.headerbackground{
	background:#164DA0;
}

.bodyback{
	background-color:#f5fafb;
}
.maincontentback{
	background:#ffffff;
	box-shadow: 0 -3px 2px 2px rgb(212, 217, 218, 1);
}
.sliderback{
	background:#ffffff;
	box-shadow: 0 0 10px rgba(0,0,0,0.6);
}

.sliderpadding{
	
}

.servicesback{
	background:#f6f6f6;
}
.servicespadding{
	margin-left: 15px;
	margin-right: 15px;
	position: relative;
}
.servicesheadback{
	padding:10px;
}

.servicesheadback h3{
	padding: 13px;
	background:linear-gradient(to bottom, #eee 0%, #fff 100%);
	border-radius: 10px;
	box-shadow: 4px 3px 2px -1px rgba(201, 201, 201, 1);
}

.servicesheadback ul{
	padding-left: 20px;
	line-height: 25px;
	list-style:none;
}

.servicesheadback a{
	color: #000
}

.servicesheadback a:focus, a:active, a:hover{
	color: #4caf50;
	font-size: 20px;
}

.servicesheadback a_active{
	color: #4caf50
}

.field{
	padding: 10px 0 10px 0;
}

.field input[type="text"]{
	width: 200px;
	border: 1px solid #0985bb;
	padding: 10px;
}

.field label{
	width:100%;
	font-size: 14px;
	float: left;
}

.field textarea{
	height: 102px;
	width: 200px;
	border: 1px solid #0985bb;
	padding: 10px;
	resize: vertical;
	overflow: auto;
	margin: 0;
	vertical-align: top;
}
.userdetail h5{
	color:#d50000;
	margin-bottom: 5px;
}
.contactsubmit{
	width: 200px;
}

.testimonial{
	background:#d2eaef;
	min-height:300px;
}

.testimonial h3{
	color: #fff;
	background: linear-gradient(to bottom, #237fe8 0%,#0361b2 100%);
	border-radius: 6px 6px 0 0;
	padding: 7px 0 7px 15px;
}
.testimonial p{
	padding: 15px;
	color:#000;
}

.testimonial em{
	color:#000;
}
.testimonial span{
	color:#000;
	font-weight:700;
	float: right;
}
.testimonial hr{
	margin:0 auto;
	border-top: 1px solid #232323;
	width: 90%;
}
.footerstyle{
	background-color:#383838;
}
.footerstyle h6{
	color:#fff;
}

/*.servicesheadback ul li a{
	background-image: src("img/servicebullets.png");
	background-repeat: no-repeat;
	padding-left: 15px;
	background-position: 0% 50%;
}*/
